<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.usfit.stepcounter">

    <uses-feature android:name="android.hardware.sensor.stepcounter" />
    <uses-feature android:name="android.hardware.sensor.stepdetector" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainMenuActivity"
            android:label="@string/title_activity_main_menu"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AvatarActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".AchievementsActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ShopActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".UserPreferences"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".Inventory"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".GoalsActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ProfileActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".FriendsListActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".AvatarCustomizationActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".FriendsActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".NewUserActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".FriendRequestsActivity"
            android:screenOrientation="sensorPortrait" />
        <activity android:name=".ChallengeActivity"></activity>
    </application>

</manifest>